<div class="app-user-info">
	<div class="app-inner">
		<h1>用户详情</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 t-r">用户名：</div>
				<div class="col-lg-8">{{data.username}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2 t-r">性&emsp;别：</div>
				<div class="col-lg-8">{{data.sex}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2 t-r">电&emsp;话：</div>
				<div class="col-lg-8">{{data.telephone}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2 t-r">密&emsp;码：</div>
				<div class="col-lg-8">{{data.password}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2 t-r">简&emsp;介：</div>
				<div class="col-lg-8">{{data.info}}</div>
			</div>
		</div>
	</div>
</div>